.footer {
    z-index:1;
    position: relative;
    justify-content: center;
    /*border-top: 2px solid #ffffff;*/
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer h3 {
    font-size: 10px;
    font-weight:500;
}