
.flexSB {
    display:flex;
    /*justify-content: space-between;*/
    align-items: center;
  }

  
header {
    z-index: 1;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(255, 255, 255);
    background-color: #313d7c;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin-left:20px;
    margin-right:0px;
    font-size: 30px;
    font-weight:900;
    
}

.title {
    text-align: left; 
}

header li {
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    
}

.buttonHeader {
    z-index: 1;
   cursor: pointer;
}

.buttonLogin {
    z-index: 1;
   cursor: pointer;
}

.buttonHeaderlateral {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 4px dotted grey;
}


.buttonHeader:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(174, 69, 69);
}

.buttonLogin:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(174, 69, 69);
}

header .center {
    margin-left: 0px;
}

.buttonMenu {
    position:fixed;
    background-color: white;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttonMenuHidden {
    position:fixed;
    background-color: white;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s linear;
    top: -80px;
}


@media only screen and (max-width: 1053px) {
    .logo h1 {
        margin-right:140px;
    }

}

@media only screen and (max-width: 1053px) {
    header .center{
        display:none;
    }
}

.headerSize{
    height: 50px;
}

.alignHeader{
    height: 50px;
}

@media only screen and (min-width: 1053px) {
    .buttonMenu {
        display:none;
    }
}

@media only screen and (max-width: 1053px) {
    .title {
        margin-left: 50px !important;
    }
}

@media only screen and (max-width: 1053px) {
    header .rightPart
    {
      position: absolute;
      right:0%;
    }

}

@media only screen and (min-width: 1053px) {
    .flexSB {
        justify-content: none;
      }

}


/*____________Lateral Menu ________________*/

.lateralMenu{
    position:fixed;
    width: 100%;
    height:100%;
    background-color: white;
    left:-100%;
    z-index: 1;
}

.latMenu {
    display: inline-block;
    width:100%;
  }
  
.lateralMenuClosed {
    border-bottom-right-radius: 25px;
    animation:slideClosed 0.25s ease-in;
    height:auto;
    left:-100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.lateralMenuOpen {
    border-bottom-right-radius: 25px;
    height:auto;
    animation:slideOpen 0.25s ease-in;
    left:0%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  
  @keyframes slideClosed {
    0% {
        left:0%
    }
    100% {
        left:-100%
    }
  }

  @keyframes slideOpen {
    0% {
        left:-100%
    }
    100% {
        left:0%
    }
  }

  .sizeboxLateral{

    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 50px;
  }

 .rightPart{
    float:right;
    position: absolute;
    right:0px;
 }

 