/*_____BG____*/ /*_____Anim____*/
/*
.appearingImage {
  left: 0%;
  animation-duration: 0.5S ;
  animation-name: image-in;

}

@keyframes image-in {
  0%{
    left:125%;
  }
  100% {
    left: 0%;
  }
}

.appearingBgHome {
  right:0%;
  animation-duration: 0.7S ;
  animation-name: image-inHome;

}

@keyframes image-inHome {
  0%{
    right:-120%;
  }
  30%{
    right:-120%;
  }
  100% {
    right:0%;
  }
}

.appearingBgLeft {
  left:0%;
  animation-duration: 0.5S ;
  animation-name: image-inLeft;

}

@keyframes image-inLeft {
  0%{
    left:-45%;
  }
  100% {
    left:0%;
  }
}
*/
/*
.appearingBgCourses {
  right: 0%;
  animation-duration: 0.65S ;
  animation-name: image-inBgCourses;

}

@keyframes image-inBgCourses {
  0%{
    right:-100%;
  }
  100% {
    right:0%;
  }
}

.appearingBgCoursesText {
  right: 0%;
  animation-duration: 0.75S ;
  animation-name: image-inCoursesText;

}

@keyframes image-inCoursesText {
  0%{
    right:-100%;
  }
  50%{
    right:-100%;
  }
  100% {
    right:0%;
  }
}
*/

/*______Common_______*/

  .bgBody {
  
    height:100%;
    width:100%;
    background: linear-gradient(144deg, rgba(9,9,121,0) 35%, rgba(0,159,255,1) 100%);
  
  }

/* content */

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 20px;
  }
  
  .content h2 {
    margin-bottom: 1rem;
  }
  
  .content a {
    color: #cc3852;
    margin-right: 10px;
  }

  .noneContent {
    display: none;
  }

  .noscrollpage {
    max-height: 90vh;
    overflow: hidden;
    z-index: -1;
  }

