/*___Home____*/

.homeBody {
  
    display:flex;
   
  }
  
  .partHB {
   
   min-width: 10px;
   width:50%;
   margin-top:80px;
   padding-left:50px;
   margin-right:50px;
  
  }

  table {
    font-family: arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    
  }

  tr {
    text-align: center;
    border: 2px solid #b2dcff;
    background-color: #ffffff;
  }

  .partCourses {
    
    min-width: 10px;
   
   
   }
  .LeftCourses {
    width:60%;
     margin-right:20px;
   }

  .RightCourses {
    width:40%;
   }

  .partHB p {
    font-size: 18px;
  }

  .partCourses p {
    font-size: 16px;
  }
  @media only screen and (max-width: 1053px) {
    .homeBody{
        display:block;
    }

  }

  /*_______Courses__________*/
  .coursesBody {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 250px;
    
    width:100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }



/*_________Contact__________*/

.contactImage {
  position:relative;

  max-width: 100%;
  max-height:650px;
  mask-image: linear-gradient(black, transparent);
  left: 125%;
}

.contactPage {
  display:flex;

}

@media only screen and (max-width: 1053px) {

  .contactPage{
    display:block;
}

}

/*_____Anim____*/
.appearingImage {
  left: 0%;
  animation-duration: 0.5S ;
  animation-name: image-in;

}

@keyframes image-in {
  0%{
    left:125%;
  }
  100% {
    left: 0%;
  }
}

.containerImage {
  background-color: none;
  
  min-width:100%;
  min-height:650px;
  max-width:100px;
  max-height:100px;
}

@media only screen and (max-width: 1053px) {
  .partHB {
    width:90%;
  }

}

@media only screen and (max-width: 1053px) {
  .containerCourses {
    width:100%;
    overflow-y: auto;
    max-height: 650px;
  }

}

.containerCourses
{
  border-radius: 25px;
  max-height: 650px;
  background-color: #b2dcff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.contentCourses
{
  overflow-y: auto;
  max-height: 100%;
  padding-top:50px;
  padding-right: 50px;
}

.insideCourses
{
  display: flex;
}

/*Scrollbar properties*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f; 
}