/*___Home____*/

.pageBody {
  
    display:flex;
   
  }

  .separationBar{
    z-index: 1;
    position: relative;
    background-color: #000000;
    height:10px;
    transform: rotate(1.5deg);
    box-shadow: 13px 1px 0 17px #000000;
  }

  .separationBarAbout{
    z-index: 1;
    position: relative;
    background-color: #000000;
    height:10px;
    transform: rotate(-1.5deg);
    box-shadow: 3px 0px 0 17px #000000;
  }

  .separationBarBottom{
    z-index: 0;
    position: relative;
    background-color: #000000;
    height:10px;
    transform: rotate(-1deg);
    box-shadow: 3px 0px 0 17px #000000;
  }

  .separationBarTop{
    z-index: 0;
    position: relative;
    background-color: #000000;
    height:10px;
    transform: rotate(1deg);
    box-shadow: 13px 1px 0 17px #000000;
  }

  .partHB {
   position: relative;
   min-width: 10px;
   width:50%;
   margin-top:80px;
   padding-left:50px;
   margin-right:50px;
  
  }

  table {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    border-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    
  }

  .partHB p {
    font-size: 18px;
  }

  .partCourses p {
    font-size: 16px;
  }

  @media only screen and (max-width: 1053px) {
    .pageBody{
        display:block;
    }

  }

  .homeBodyBG{
    z-index: -1;
    background-color:#83a8cf;
    color: white;
    width:100%;
    height:100%;
  }
  .homeBody h1{
    font-size: 30px;
    color:rgb(121, 43, 43);
  }

  .homeBody p{
    font-size: 20px;
  }
  .homeBodyBGimage{
    background-image: url('../img/bg0.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .coursesBodyBGimage{
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aboutBodyBGimage{
    background-image: url('../img/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aboutBodyBG{
    z-index: -1;
    background-color:#c7c7c7;
    color: white;
    width:100%;
    height:100%;
  }
  .aboutBody h1{
    font-size: 30px;
  }

  .aboutBody p{
    font-size: 20px;
  }

  /*_______Courses__________*/
  .coursesBody {
    position: relative;
    
    padding-top: 50px;
    padding-bottom: 250px;
    color: #ffffff;
    width:100%;
    background-color: #4e434c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }

  td {
    text-align: center;
    border: 5px solid #ffffff;
    color: #000000;
    background-color: #cecece;
    border-radius: 20px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  .partCourses {
    
    min-width: 10px;
   
   
   }
  .LeftCourses {
    width:60%;
     margin-right:20px;
   }

  .RightCourses {
    width:40%;
    margin: auto;
   }

   .containerCourses
   {
     border-radius: 5px;
     max-height:fit-content;
     background-color: #ffffff;
     color: #000000;
     box-shadow: -20px 20px 0px #000000;
     
   }
   
   .contentCourses
   {
     overflow-y: auto;
     max-height: 100%;
     padding-top:50px;
     padding-right: 50px;
   }
   
   .insideCourses
   {
     display: flex;
   }

/*_________Contact__________*/

.contactImage {
  position:relative;

  max-width: 100%;
  max-height:650px;
  mask-image: linear-gradient(black, transparent);
  left: 125%;
}

.contactPage {
  display:flex;

}

@media only screen and (max-width: 1053px) {

  .contactPage{
    display:block;
}

}



.containerImage {
  background-color: none;
  
  min-width:100%;
  min-height:650px;
  max-width:100px;
  max-height:100px;
}

@media only screen and (max-width: 1053px) {
  .partHB {
    width:90%;
  }
}

@media only screen and (max-width: 1053px) {
  .containerCourses {
    width:100%;
    overflow-y: auto;
    max-height: 650px;
  }
}


/*Scrollbar properties*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f3f3f; 
}
.iframevideo{
  position: relative;
  width:100%;
  height:315px;
  box-shadow: 20px 20px 0px #000000;
  border-radius: 5px;
}
/*Adjusting screen*/

@media only screen and (min-width: 1053px) {
  .homeBody {
    height: 600px;
    padding-top: 100px;
  }
  .aboutBody {
    height: 700px;
    padding-top: 100px;
  }

  .homeBodyBG{
    padding-bottom: 250px;
  }

  .aboutBodyBG{
    padding-bottom: 100px;
  }
}
@media only screen and (max-width: 1053px) {
  .homeBody {
    padding-top: 1px;
    padding-bottom: 70px;
  }
  .aboutBody {
    padding-top: 1px;
  }
}

@media only screen and (min-width: 1390px) {
  .iframevideo {
    height: 400px;
  }

}

@media only screen and (min-width: 1700px) {
  .iframevideo {
    height: 480px;
  }
}

